/*@tailwind base;
@tailwind components;
@tailwind utilities;
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz@1,8..144&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@700&display=swap");

.storyTitle {
    font-family: "Roboto Slab";
}

.autoTitle {
    font-family: "Roboto Serif", serif;
}
h1 {
    font-family: "Roboto Slab";
    font-weight: 900;
}
.leaflet-container {
    height: 100%;
    z-index: 0;
}
.node__root > circle {
    fill: darkgreen;
}
.node__branch > circle {
    fill: lightseagreen;
}
.node__leaf > circle {
    fill: transparent;
    /* Let's also make the radius of leaf nodes larger */
    /*radius: 40;*/
}
